<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>菜单新增</title>
    <common-resource th:replace="common/common-resource :: common-resource"></common-resource>
    <link rel="stylesheet" href="/static/common/open-source/ztree/zTreeStyle/zTreeStyle.css">
    <script src="/static/common/open-source/ztree/jquery.ztree.all.js"></script>
    <script src="/static/common/open-source/ztree/jquery.ztree.exhide.js"></script>
    <style>
        .demo-form-inline{
            width: 100%;
        }
        .demo-form-inline div{
            margin-bottom: 0!important;
        }
        .popper-class{
            top:5px!important;
            bottom: 15px;
            overflow-y: auto;
            position: fixed !important;
        }
    </style>
</head>
<body>
    <div id="app">
        <input id="TSApplication" type="hidden" th:value="${TSApplication}">
        <el-form :label-position="labelPosition" :model="TSApplicationForm" :rules="rules" ref="TSApplicationForm" label-width="100px">
            <el-form-item label="应用名称" prop="applicationName">
                <el-input :size="size_input" v-model="TSApplicationForm.applicationName" clearable></el-input>
            </el-form-item>
            <el-form-item label="应用地址" prop="applicationUrl">
                <el-input :size="size_input" v-model="TSApplicationForm.applicationUrl" clearable></el-input>
            </el-form-item>
            <el-form-item label="节点位置" prop="position">
                <template>
                    <el-radio v-model="TSApplicationForm.position" label="true">树枝</el-radio>
                    <el-radio v-model="TSApplicationForm.position" label="false">叶子</el-radio>
                </template>
            </el-form-item>
            <el-form-item label="应用等级" prop="applicationLevel">
                <template>
                    <el-radio v-model="TSApplicationForm.applicationLevel" label="1">Ⅰ级</el-radio>
                    <el-radio v-model="TSApplicationForm.applicationLevel" label="2">Ⅱ级</el-radio>
                    <el-radio v-model="TSApplicationForm.applicationLevel" label="3">Ⅲ级</el-radio>
                </template>
            </el-form-item>
            <el-form-item label="应用排序" prop="applicationOrder">
                <el-input-number :size="size_input" v-model="TSApplicationForm.applicationOrder" :min="1" :max="99"></el-input-number>
            </el-form-item>
            <el-form-item label="应用图标" prop="applicationIcon">
                <el-input :size="size_input" v-model="TSApplicationForm.applicationIcon" clearable></el-input>
            </el-form-item>
            <el-form-item label="父应用" prop="parentApplicationId">
                <el-input v-model="TSApplicationForm.parentApplicationId" v-show="false"></el-input>
                <el-popover
                        placement="right"
                        width="300"
                        trigger="click"
                        @hide="hide"
                        popper-class="popper-class">
                    <el-form :inline="true" :model="treeForm" class="demo-form-inline">
                        <el-form-item>
                            <el-input :size="size_input" v-model="treeForm.applicationName" placeholder="应用名称" @keyup.native="search"></el-input>
                        </el-form-item>
                        <el-form-item>
                            <el-button :size="size_button" type="danger" @click="empty" plain>取消</el-button>
                        </el-form-item>
                    </el-form>
                    <ul id="applicationTree" class="ztree" style="padding-bottom: 20px;"></ul>
                    <el-input slot="reference" :size="size_input" v-model="TSApplicationForm.parentApplicationName" :readonly="true"></el-input>
                </el-popover>
            </el-form-item>
        </el-form>
    </div>
<script>
    window.app = new Vue({
        el: "#app",
        data: {
            size_button: top.window.windowVue.size_button,
            size_input: top.window.windowVue.size_input,
            labelPosition: "left",
                TSApplicationForm: {
                applicationName:"",
                    applicationUrl:"",
                    applicationLevel:"",
                    applicationOrder:"",
                    applicationIcon:"",
                    parentApplicationId:"",
                    parentApplicationName:"",
                    position:"",
            },
            rules: {
                applicationName: [
                    { required: true, message: '请输入应用名称', trigger: 'blur' }
                ],
                    applicationUrl: [
                    { required: true, message: '请输入应用地址', trigger: 'blur' }
                ],
                    applicationLevel: [
                    { required: true, message: '请输入应用等级', trigger: 'blur' }
                ],
                    applicationOrder: [
                    { required: true, message: '请输入应用排序', trigger: 'blur' }
                ],
                    applicationIcon: [
                    { required: true, message: '请输入应用图标', trigger: 'blur' }
                ],
                    parentApplicationId: [
                    { required: false, message: '请输入父应用', trigger: 'blur' }
                ],
                    position: [
                    { required: true, message: '请输入节点位置', trigger: 'blur' }
                ],
            },
            treeForm:{
                applicationName:""
            },
            treeList:[],
            setting: {
                callback: {
                    onClick: onClick,
                    onCheck: onClick
                },
                check: {
                    enable: true
                },
                data: {
                    simpleData: {
                        enable: true
                    }
                }
            }
        },
        mounted() {
            this.init();
            this.initTree();
        },
        methods: {
            init(){
                if($("#TSApplication").val()){
                    this.TSApplicationForm = JSON.parse($("#TSApplication").val());
                }
            },
            initTree(){
                let self = this;
                common.ajax({
                    url:"/TSApplicationController/searchTSApplicationTree",
                    success:function(result){
                        self.treeList = result.object;
                        $.fn.zTree.init($("#applicationTree"), self.setting, result.object);
                    }
                });
            },
            applicationSave(){
                let self = this;
                this.$refs['TSApplicationForm'].validate((valid) => {
                    if(!valid) {
                        throw 'error';
                    }
                    common.ajax({
                        url:"/TSApplicationController/applicationSave",
                        async:false,
                        data:self.TSApplicationForm,
                        success:function(result){
                            common.showMessageS(result);
                            if(result.type  !== common.messageType.SUCCESS){
                                throw 'error';
                            }
                        }
                    });
                });
            },
            hide(){
                let nodes = getTSApplicationCheckedNodes();
                if(nodes.length > 0){
                    this.TSApplicationForm.parentApplicationId = nodes[0].id;
                    this.TSApplicationForm.parentApplicationName = nodes[0].name;
                }else{
                    this.TSApplicationForm.parentApplicationId = "";
                    this.TSApplicationForm.parentApplicationName = "";
                }
            },
            search(){
                let list = this.treeList.filter(tree => tree.name.indexOf(this.treeForm.applicationName) !== -1);
                $.fn.zTree.init($("#applicationTree"), this.setting, list);
            },
            empty(){
                getTree().checkAllNodes(false);		//取消全部勾选
            }
        }
    });
    function getTree() {
        return $.fn.zTree.getZTreeObj('applicationTree');
    }
    function onClick(event, treeId, treeNode) {
        app.empty();
        let tree = getTree();
        tree.checkNode(tree.getNodeByParam("id", treeNode.id), true);
    }
    function getTSApplicationCheckedNodes(){
        return getTree().getCheckedNodes(true);
    }
</script>
</body>
</html>