<!DOCTYPE html>
<html lang="en">
<head>
    <title>应用管理</title>
    <common-resource th:replace="common/common-resource :: common-resource"></common-resource>
    <style>
        .demo-form-inline {
            padding: 10px 10px 0 10px;
            width: auto;
        }
        .el-form-item{
            margin-bottom: 0!important;
        }
    </style>
</head>
<body>
<div id="app">
    <el-collapse-transition>
        <div v-show="showHeader">
            <el-form :inline="true" :model="dataTableForm" ref="dataTableForm" class="demo-form-inline" :size="size_input">
                <el-form-item label="应用名称" prop="applicationName">
                    <el-input v-model="dataTableForm.applicationName"></el-input>
                </el-form-item>
                <el-form-item label="应用状态" prop="runningState">
                    <el-select v-model="dataTableForm.runningState" clearable>
                        <el-option label="正常使用" value="01"></el-option>
                        <el-option label="禁止使用" value="00"></el-option>
                    </el-select>
                </el-form-item>
                <el-form-item>
                    <el-button :size="size_button" @click="dataTableSearch()" type="primary">查询</el-button>
                    <el-button :size="size_button" @click="dataTableReset()">重置</el-button>
                </el-form-item>
            </el-form>
        </div>
    </el-collapse-transition>
    <el-table
            :data="dataTableList"
            row-key="id"
            lazy
            :load="load"
            :tree-props="{children: 'children', hasChildren: 'position'}">
        <el-table-column
                prop="applicationName"
                label="应用名称"
                width="200">
        </el-table-column>
        <el-table-column
                prop="applicationUrl"
                label="应用地址"
                width="380">
        </el-table-column>
        <el-table-column
                prop="applicationIcon"
                label="应用图标"
                width="80"
                align="center">
            <template slot-scope="scope">
                <span v-html = 'scope.row.applicationIcon'></span>
            </template>
        </el-table-column>
        <el-table-column label="禁止使用/正常使用" prop="runningState" align="center">
            <template slot-scope="scope">
                <el-switch
                        v-model="scope.row.runningState"
                        active-color="#00CC66"
                        inactive-color="#888888"
                        active-value="01"
                        inactive-value="00">
                </el-switch>
            </template>
        </el-table-column>
        <el-table-column label="操作">
            <template slot="header">
                <el-button :size="size_button" @click="showHeader = !showHeader">高级筛选</el-button>
                <el-button :size="size_button" @click="forwordTSApplicationSave('')">新增菜单</el-button>
            </template>
            <template slot-scope="scope">
                <el-button :size="size_button" @click="forwordTSApplicationSave(scope.row.id)">编辑</el-button>
                <el-button :size="size_button" @click="handleDelete(scope.$index, scope.row)" type="danger">删除</el-button>
            </template>
        </el-table-column>
    </el-table>
    <common-drawer th:replace="common/common-drawer :: common-drawer"></common-drawer>
</div>
<script>
    new Vue({
        el: "#app",
        data: {
            size_button: top.window.windowVue.size_button,
            size_input: top.window.windowVue.size_input,
            dataTableList: [],
            dataTableForm: {
                applicationName:"",
                parentApplicationId:"",
                runningState:""
            },
            showHeader: true,
            commonDrawer: {
                title: "",
                url: "",
                open: false,
                direction: "ttb",
                withHeader:false,
                size:"100%"
            },
        },
        mounted() {
            this.dataTableList = this.searchTSApplicationList();
        },
        methods: {
            searchTSApplicationList(){
                const self = this;
                let applicationList = [];
                common.ajax({
                    url:"/TSApplicationController/searchTSApplicationList",
                    async:false,
                    data : self.dataTableForm,
                    success:function(result){
                        applicationList = result.object;
                    }
                });
                return applicationList;
            },
            dataTableSearch(){
                this.dataTableForm.parentApplicationId = "";
                this.dataTableList = this.searchTSApplicationList();
            },
            dataTableReset() {
                this.dataTableForm.parentApplicationId = "";
                this.dataTableForm.applicationName = "";
                this.dataTableForm.runningState = "";
                this.dataTableList = this.searchTSApplicationList();
            },
            load(row, treeNode, resolve) {
                setTimeout(() => {
                    this.dataTableForm.parentApplicationId = row.id;
                    let resolveList = this.searchTSApplicationList();
                    resolveList.forEach((obj, index) => {
                        this.dataTableList = this.dataTableList.filter(dataTable => dataTable.id !== obj.id);
                    });
                    resolve(resolveList)
                }, 1000)
            },
            forwordTSApplicationSave: function (id) {
                if(id){
                    this.commonDrawer.title = "编辑应用";
                }else{
                    this.commonDrawer.title = "新增应用";
                }
                this.commonDrawer.url = "/TSApplicationController/forwordTSApplicationSave?id=" + id;
                this.commonDrawer.open = true;
            },
            goBack: function () {
                this.commonDrawer.url = "";
                this.commonDrawer.open = false;
            },
        }
    });

    function applicationSave(window) {
        window.app.applicationSave();
    }

</script>
</body>
</html>