<common-resource th:fragment="common-resource">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/common/open-source/element-ui/element-ui.css">
    <link rel="stylesheet" href="/static/common/open-source/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/common/common.css">
    <link rel="stylesheet" href="/static/common/component/RanGoDrawer.css">
    <script src="/static/common/open-source/jquery/jquery.min.js"></script>
    <script src="/static/common/open-source/element-ui/vue.js"></script>
    <script src="/static/common/open-source/element-ui/element-ui.js"></script>
    <script src="/static/common/common.js"></script>
</common-resource>