<el-drawer th:fragment="common-drawer"
           :title="commonDrawer.title"
           :visible.sync="commonDrawer.open"
           :direction="commonDrawer.direction"
           :with-header="commonDrawer.withHeader"
           :size="commonDrawer.size">
    <div class="common-container" style="margin-top: 9px;">
        <div style="padding: 0 20px;height: 40px;line-height: 40px;display: inline-block;font-size: 14px;">
            <template v-for="item in commonDrawer.buttonList">
                <el-button :type="item.type" :size="size_button" @click="clickCall(item.click)">{{item.name}}</el-button>
            </template>
        </div>
        <div style="padding: 0 20px;height: 40px;line-height: 40px;display: inline-block;font-size: 14px;float: right;">
            <span>{{commonDrawer.title}}</span>
        </div>
    </div>
    <div class="RanGo-drawer-iframe-div">
        <iframe :id="commonDrawer.frameId" class="RanGo-drawer-iframe" :src="commonDrawer.frameUrl"></iframe>
    </div>
</el-drawer>