<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>list Demo</title>
    <link rel="stylesheet" href="/common/open-source/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/common/component/RanGoTable.css">
    <script src="/common/open-source/jquery/jquery.min.js"></script>
    <script src="/common/component/RanGoTable.js"></script>
</head>
<body >
<div class="m">

</div>
<script>
    var datas = {
        settings:{
            title:"RanGo列表"
        },
        "column":[
            {
                "fieldName":"id",
                "title":"ID",
                "width": "150",
                "fixed":"left"
            },
            {
                "fieldName":"firstName",
                "title":"姓",
                "width": "500",
                "fixed":"right",
                "query":true
            },
            {
                "fieldName":"lastName",
                "title":"名",
                "width": "500",
                "query":true
            },
            {
                "fieldName":"age",
                "width": "500",
                "title":"年龄",
                "query":true
            },
            {
                "fieldName":"friend",
                "title":"friend1",
                "query":true
            },
            {
                "fieldName":"FRIEND_FIXED",
                "title":"friend1",
                "fixed":"left",
                "query":true
            },
            {
                "fieldName":"friend",
                "title":"friend1",
                "query":true
            },
            {
                "fieldName":"friend",
                "title":"friend1",
                "query":true
            },
            {
                "fieldName":"friend",
                "title":"friend1"
            },
            {
                "fieldName":"friend_END",
                "title":"friend1"
            }

        ],
        "result": [
            { "firstName":"Bill" , "age":"12", "lastName":"Gates","id":"100861008610086" },
            { "firstName":"George" , "lastName":"Bush","id":"10010" ,"age":"12" },
            { "firstName":"Thomas" , "lastName":"Carter","id":"12315" ,"age":"12" },
            { "firstName":"Bill" , "age":"12", "lastName":"Gates","id":"100861008610086" },
            { "firstName":"George" , "lastName":"Bush","id":"10010" ,"age":"12" },
            { "firstName":"Thomas" , "lastName":"Carter","id":"12315" ,"age":"12" },
            { "firstName":"Bill" , "age":"12", "lastName":"Gates","id":"100861008610086" },
            { "firstName":"George" , "lastName":"Bush","id":"10010" ,"age":"12" },
            { "firstName":"Thomas" , "lastName":"Carter","id":"12315" ,"age":"12" },
            { "firstName":"Bill" , "age":"12", "lastName":"Gates","id":"100861008610086" },
            { "firstName":"George" , "lastName":"Bush","id":"10010" ,"age":"12" },
            { "firstName":"Thomas666" , "lastName":"Carter","id":"12315" ,"age":"12" }
        ]
    };

    RanGoTable.init(datas);

</script>
</body>
</html>