<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>菜单新增</title>
    <link rel="stylesheet" href="/common/open-source/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/common/common.css">
    <link rel="stylesheet" href="/common/component/check/RanGoCheck.css">
    <link rel="stylesheet" href="/develop/code/code-save.css">
    <script src="/common/open-source/jquery/jquery.min.js"></script>
    <script src="/common/common.js"></script>
    <script src="/common/form_json.js"></script>
    <script src="/common/component/RanGoDialog.js"></script>
    <script src="/common/component/check/RanGoCheck.js"></script>
    <script src="/develop/code/code-save.js"></script>
</head>
<body>
<div id="code" class="run-go-form-row" style="height: 100%;margin-top: 0;display: flex;overflow-x: scroll;">
    <div class="title" style="min-width: 250px;">
        <div class="row row-first">
            <div class="col-12 title">

            </div>
        </div>
        <div class="row row-second">
            <div class="col-12 title">
                <h5>表</h5>
            </div>
        </div>

        <div class="row row-third">
            <div class="col-12 title">
                <div id="tableList" class="table-scroll" style="padding-left: 0;">

                </div>
            </div>
        </div>
    </div>
    <div class="title" style="min-width: 250px;">
        <div class="row row-first">
            <div class="col-12 title">
                <h1><!--数据库--></h1>
            </div>
        </div>
        <div class="row row-second">
            <div class="col-12 title">
                <h5>字段</h5>
            </div>
        </div>

        <div class="row row-third">
            <div class="col-12 title">
                <div id="columnList" class="table-scroll" style="padding-left: 0;">

                </div>
            </div>
        </div>
    </div>
    <div class="title" style="min-width: 350px;">
        <div class="row row-first">
            <div class="col-12 title">
                <h1><!--解放双手--></h1>
            </div>
        </div>
        <div class="row row-second">
            <div class="col-12 title">
                <h5>模块</h5>
            </div>
        </div>
        <div class="row row-third">
            <div class="col-12 title">
                <div class="table-scroll" style="padding-left: 0;">
                    <div class="row run-go-form-row">
                        <div class="col-3 title">
                            <strong class="requiredmarker">*</strong>层
                        </div>
                        <div class="col-9" style="text-align: left;">
                            <div class="custom-control custom-checkbox my-1 mr-sm-2">
                                <input type="checkbox" class="custom-control-input" id="all">
                                <label class="custom-control-label" for="all" style="line-height: 20px;">全选</label>
                            </div>
                            <div class="custom-control custom-checkbox my-1 mr-sm-2">
                                <input type="checkbox" class="custom-control-input" id="packageEntity">
                                <label class="custom-control-label" for="packageEntity" style="line-height: 20px;">Entity</label>
                            </div>
                            <div class="custom-control custom-checkbox my-1 mr-sm-2">
                                <input type="checkbox" class="custom-control-input" id="packageDao">
                                <label class="custom-control-label" for="packageDao" style="line-height: 20px;">Dao</label>
                            </div>
                            <div class="custom-control custom-checkbox my-1 mr-sm-2">
                                <input type="checkbox" class="custom-control-input" id="packageMapper">
                                <label class="custom-control-label" for="packageMapper" style="line-height: 20px;">Mapper</label>
                            </div>
                            <div class="custom-control custom-checkbox my-1 mr-sm-2">
                                <input type="checkbox" class="custom-control-input" id="packageService">
                                <label class="custom-control-label" for="packageService" style="line-height: 20px;">Service/Impl</label>
                            </div>
                            <div class="custom-control custom-checkbox my-1 mr-sm-2">
                                <input type="checkbox" class="custom-control-input" id="packageController">
                                <label class="custom-control-label" for="packageController" style="line-height: 20px;">Controller</label>
                            </div>
                            <div class="custom-control custom-checkbox my-1 mr-sm-2">
                                <input type="checkbox" class="custom-control-input" id="constantController">
                                <label class="custom-control-label" for="constantController" style="line-height: 20px;">Constant</label>
                            </div>
                        </div>
                    </div>
                    <form id="baseForm">
                        <div class="row run-go-form-row">
                            <div class="col-3 title">
                                <strong class="requiredmarker">*</strong>表名称
                            </div>
                            <div class="col-9" style="text-align: left;">
                                <input id="table" name="table" class="form-control form-control-sm" type="text" placeholder="t_s_user" mydatatype="*" messageS="" readonly="readonly">
                            </div>
                        </div>
                        <div class="row run-go-form-row">
                            <div class="col-3 title">
                                <strong class="requiredmarker">*</strong>模块名称
                            </div>
                            <div class="col-9" style="text-align: left;">
                                <input id="model" name="model" class="form-control form-control-sm" type="text" placeholder="user" mydatatype="*" messageS="">
                            </div>
                        </div>
                        <div class="row run-go-form-row">
                            <div class="col-3 title">
                                <strong class="requiredmarker">*</strong>实体类名称
                            </div>
                            <div class="col-9" style="text-align: left;">
                                <input id="entity" name="entity" class="form-control form-control-sm" type="text" placeholder="TSUser" mydatatype="*" messageS="">
                            </div>
                        </div>
                        <div class="row run-go-form-row">
                            <div class="col-3 title">
                                <strong class="requiredmarker">*</strong>包路径
                            </div>
                            <div class="col-9" style="text-align: left;">
                                <input id="packagePath" name="packagePath" class="form-control form-control-sm" type="text" placeholder="com.gxcx." mydatatype="*" messageS="">
                            </div>
                        </div>
                        <div class="row run-go-form-row">
                            <div class="col-3 title">

                            </div>
                            <div class="col-9" style="text-align: left;">
                                <button type="button" class="btn btn-outline-dark" style="margin-right: 25px;" onclick="codeSave();">解放</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="title" style="min-width: 350px;">
        <div class="row row-first">
            <div class="col-12 title">

            </div>
        </div>
        <div class="row row-second">
            <div class="col-12 title">

            </div>
        </div>
        <div class="row row-third">
            <div class="col-12 title">
                <div class="table-scroll" style="padding-left: 0;text-align: left;">

                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>