<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>控制台</title>
    <common-resource th:replace="common/common-resource :: common-resource"></common-resource>
    <link rel="stylesheet" href="/static/system/main/console.css">
    <script src="/static/common/window/window.js"></script>
</head>
<body>
<div id="consoleApp">
    <div class="console-header">
        <div class="console-header-navbar">
            <div class="console-header-navbar-crumbs">
                <el-breadcrumb separator="/">
                    <el-breadcrumb-item v-for="breadcrumb in breadcrumbs">{{breadcrumb.title}}</el-breadcrumb-item>
                </el-breadcrumb>
            </div>
            <div class="console-header-navbar-menu">
                <div class="console-header-navbar-menu-item">
                    <i class="fa fa-cog application-title-icon"></i>
                </div>
                <div class="console-header-navbar-menu-img">
                    <el-avatar shape="square" :size="50" :src="squareUrl"></el-avatar>
                </div>
            </div>
        </div>
        <div>
            <el-tabs v-model="applicationActiveTabId" closable @tab-remove="removeTab" @tab-click="clickTab">
                <el-tab-pane v-for="(item, index) in applicationTabs" :label="item.title" :name="item.id"></el-tab-pane>
            </el-tabs>
        </div>
    </div>
    <div class="console-main">
        <el-collapse v-model="applicationActiveCollapseIds" v-show="applicationActiveTabId==='console'" @change="handleChange">
            <el-collapse-item v-for="(oneLevelApplication,oneLevelIndex) in applicationList"
                              v-if="applicationTopId===oneLevelApplication.parentApplicationId"
                              v-bind:name="oneLevelApplication.id"
            ><!--一级菜单-->
                <template slot="title">
                    <div class="application-title-div" @click="applicationTitleClick(oneLevelApplication.applicationName)">
                        <span class="application-title-icon" v-html = 'oneLevelApplication.applicationIcon'></span>
                        <h3 class="application-title-text">{{oneLevelApplication.applicationName}}</h3>
                    </div>
                </template>
                <template v-for="twoLevelApplication in applicationList" v-if="oneLevelApplication.id===twoLevelApplication.parentApplicationId"><!--二级菜单-->
                    <div class="application-container">
                        <el-card shadow="hover" class="application-card application-card-blue"
                                 @click.native="applicationContainerArrayView(twoLevelApplication,oneLevelIndex,oneLevelApplication.applicationName + ',' + twoLevelApplication.applicationName)">
                            <span v-html = 'twoLevelApplication.applicationIcon'></span>
                        </el-card>
                        <span>{{twoLevelApplication.applicationName}}</span>
                    </div>
                </template>
                <template v-for="twoLevelApplication in applicationList" v-if="oneLevelApplication.id===twoLevelApplication.parentApplicationId"><!--三级菜单-->
                    <div class="application-container-array" v-if="applicationContainerArrayShowIds[oneLevelIndex]===twoLevelApplication.id">
                        <div class="application-container small" v-for="threeLevelApplication in applicationList" v-if="twoLevelApplication.id===threeLevelApplication.parentApplicationId">
                            <el-card shadow="hover" class="application-card small application-card-green"
                                     @click.native="addTab(threeLevelApplication,oneLevelApplication.applicationName + ',' + twoLevelApplication.applicationName + ',' + threeLevelApplication.applicationName)">
                                <span v-html = 'threeLevelApplication.applicationIcon'></span>
                            </el-card>
                            <span>{{threeLevelApplication.applicationName}}</span>
                        </div>
                    </div>
                </template>
            </el-collapse-item>
        </el-collapse>

        <iframe v-for="iFrame in applicationIFrames" v-show="applicationActiveTabId===iFrame.id" v-bind:src="iFrame.url" class="console-main-iframe"></iframe>

    </div>
</div>
<script>

    const consoleId = "console";
    const consoleName = "桌面";


    new Vue({
        el: "#consoleApp",
        data: {

            squareUrl: "/test/canvas.png",/*头像*/
            applicationTopId: "TOP",/*菜单顶级id*/
            applicationContainerArrayShowIds: [],/*三级菜单显示状态*/
            applicationList: [],/*应用集合*/
            applicationActiveCollapseIds: [],/*折叠面板展开id集合*/
            applicationActiveTabId: consoleId,/*当前显示页面id*/
            applicationTabs: [{
                id: consoleId,
                title: consoleName,
                dataBreadcrumbs: consoleName
            }],
            applicationIFrames:[],
            breadcrumbs:[{
                title: consoleName
            }]
        },
        mounted () {
            this.searchTSApplicationList();
        },
        methods: {
            pushApplicationTab(id,title,dataBreadcrumbs){
                this.applicationTabs.push({
                    id: id,
                    title: title,
                    dataBreadcrumbs: dataBreadcrumbs
                });
            },
            /*获取用户菜单*/
            searchTSApplicationList(){
                const self = this;
                common.ajax({
                    url:"/TSApplicationController/searchMyTSApplicationList",
                    success:function(result){
                        self.applicationList = result.object;
                        self.$set(self.applicationActiveCollapseIds,0,self.applicationList[0].id);
                    }
                });
            },
            applicationContainerArrayView(twoLevelApplication,oneLevelIndex,dataBreadcrumbs) {
                this.breadcrumbsPush(dataBreadcrumbs);
                let id = twoLevelApplication.id;
                let position = twoLevelApplication.position;
                if(position !== "01"){
                    this.$set(this.applicationContainerArrayShowIds,oneLevelIndex,id);
                }
            },
            addTab(application,dataBreadcrumbs) {
                this.breadcrumbsPush(dataBreadcrumbs);
                let id = application.id;
                let applicationName = application.applicationName;
                let applicationUrl = application.applicationUrl;
                this.applicationActiveTabId = id;
                this.applicationTabs.forEach(function(obj){
                    if(obj.id === id){
                        throw 'error';
                    }
                });
                this.pushApplicationTab(id,applicationName,dataBreadcrumbs);
                this.applicationIFrames.push({
                    id: id,
                    url: applicationUrl
                });
            },

            clickTab(targetTab, event){
                this.breadcrumbsPush(this.applicationTabs.filter(tab => tab.id === targetTab.name)[0].dataBreadcrumbs);
            },
            applicationTitleClick(dataBreadcrumbs){
                this.breadcrumbsPush(dataBreadcrumbs);
            },

            breadcrumbsPush(dataBreadcrumbs){
                if(dataBreadcrumbs=== consoleName){
                    this.breadcrumbs = [];
                }else{
                    this.breadcrumbs = [{
                        title: consoleName
                    }];
                }
                let dataBreadcrumbArr = dataBreadcrumbs.split(",");
                dataBreadcrumbArr.forEach((obj, index) => {
                    this.breadcrumbs.push({
                        title: obj
                    });
                });
            },
            removeTab(targetId) {
                let tabs = this.applicationTabs;
                let activeId = this.applicationActiveTabId;
                let dataBreadcrumbs = "";
                if (activeId === targetId) {
                    tabs.forEach((tab, index) => {
                        if (tab.id === targetId) {
                            let nextTab = tabs[index + 1] || tabs[index - 1];
                            if (nextTab) {
                                activeId = nextTab.id;
                                dataBreadcrumbs = nextTab.dataBreadcrumbs;
                            }
                        }
                    });
                }
                this.breadcrumbsPush(dataBreadcrumbs);
                this.applicationActiveTabId = activeId;
                this.applicationTabs = tabs.filter(tab => tab.id !== targetId);
                let iframes = this.applicationIFrames;
                this.applicationIFrames = iframes.filter(iframe => iframe.id !== targetId);
            },
//=========================================================================
            handleChange(val) {
            },
        }
    });
</script>
</body>
</html>