<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>控制台</title>
    <link rel="stylesheet" href="/static/common/open-source/element-ui/element-ui-min.css">
    <link rel="stylesheet" href="/static/common/open-source/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/common/common.css">
    <link rel="stylesheet" href="/static/common/component/RanGoDialog.css">
    <link rel="stylesheet" href="/static/system/main/console.css">
    <script src="/static/common/open-source/jquery/jquery.min.js"></script>
    <script src="/static/common/open-source/element-ui/vue.js"></script>
    <script src="/static/common/open-source/element-ui/element-ui.js"></script>
    <script src="/static/common/common.js"></script>
    <script src="/static/common/component/RanGoDialog.js"></script>

</head>
<body>
<div id="consoleApp">
    <div class="console-header">
        <div class="console-header-navbar">
            <div class="console-header-navbar-crumbs">
                <el-breadcrumb separator="/">
                    <el-breadcrumb-item v-for="breadcrumb in breadcrumbs">{{breadcrumb.title}}</el-breadcrumb-item>
                </el-breadcrumb>
            </div>
            <div class="console-header-navbar-menu">
                <div class="console-header-navbar-menu-item">
                    <i class="fa fa-cog application-title-icon"></i>
                </div>
                <div class="console-header-navbar-menu-img">
                    <el-avatar shape="square" :size="50" :src="squareUrl"></el-avatar>
                </div>
            </div>
        </div>
        <div>
            <el-tabs v-model="applicationActiveTabId" closable @tab-remove="removeTab" @tab-click="clickTab">
                <el-tab-pane v-for="(item, index) in applicationTabs" :key="item.id" :label="item.title" :name="item.id"></el-tab-pane>
            </el-tabs>
        </div>
    </div>
    <div class="console-main">
        <el-collapse v-model="applicationActiveCollapseIds" v-show="applicationActiveTabId==='console'" @change="handleChange">
            <el-collapse-item v-for="(oneLevelMenu,oneLevelIndex) in applicationList"
                              v-if="menuTopId===oneLevelMenu.parentMenuId"
                              v-bind:name="oneLevelMenu.id"
            ><!--一级菜单-->
                <template slot="title">
                    <div style="display: inherit;width: 100%;position: absolute;z-index: 10000;" @click="applicationTitleClick(oneLevelMenu)">
                        <span class="application-title-icon" v-html = 'oneLevelMenu.menuIcon'></span>
                        <h3 class="application-title-text">{{oneLevelMenu.menuName}}</h3>
                    </div>
                </template>
                <template v-for="twoLevelMenu in applicationList" v-if="oneLevelMenu.id===twoLevelMenu.parentMenuId"><!--二级菜单-->
                    <div class="application-container">
                        <el-card shadow="hover" class="application-card application-card-blue" @click.native="applicationContainerArrayView(twoLevelMenu,oneLevelIndex)">
                            <span v-html = 'twoLevelMenu.menuIcon'></span>
                        </el-card>
                        <span>{{twoLevelMenu.menuName}}</span>
                    </div>
                </template>
                <template v-for="twoLevelMenu in applicationList" v-if="oneLevelMenu.id===twoLevelMenu.parentMenuId"><!--三级菜单-->
                    <div class="application-container-array" v-if="applicationContainerArrayShowIds[oneLevelIndex]===twoLevelMenu.id">
                        <div class="application-container small" v-for="threeLevelMenu in applicationList" v-if="twoLevelMenu.id===threeLevelMenu.parentMenuId">
                            <el-card shadow="hover" class="application-card small application-card-green" @click.native="addTab(threeLevelMenu)">
                                <span v-html = 'threeLevelMenu.menuIcon'></span>
                            </el-card>
                            <span>{{threeLevelMenu.menuName}}</span>
                        </div>
                    </div>
                </template>
            </el-collapse-item>
        </el-collapse>

        <iframe v-for="iFrame in applicationIFrames" v-show="applicationActiveTabId===iFrame.id" v-bind:src="iFrame.url" class="console-main-iframe"></iframe>

    </div>
</div>
<script>

    try {
        if(window.commonVue === undefined){
            window.commonVue = new Vue({
                el: '#commonVueApp',
                data: function() {
                    return {
                    }
                },
                mounted() {
                },
                methods: {
                    showSuccessMessage(message){
                        this.$notify({title: "成功",message: message,type: "success"});
                    },
                    showWarningMessage(message){
                        this.$notify({title: "警告",message: message,type: "warning"});
                    },
                    showErrorMessage(message){
                        if(!message){
                            message = "系统错误";
                        }
                        this.$notify.error({title: "错误",message: message});
                    }
                }
            });
        }
    }
    catch(err){
    }


    new Vue({
        el: "#consoleApp",
        data: {
            squareUrl: "/test/canvas.png",/*头像*/
            menuTopId: "TOP",/*菜单顶级id*/
            applicationContainerArrayShowIds: [],/*三级菜单显示状态*/
            applicationList: [],/*应用集合*/
            applicationActiveCollapseIds: [],/*折叠面板展开id集合*/
            applicationActiveTabId: "console",/*当前显示页面id*/
            applicationTabs: [{
                id: "console",
                title: "桌面"
            }],
            applicationIFrames:[],
            breadcrumbs:[{
                title: "首页"
            }]
        },
        mounted () {
            this.searchTSApplicationList();
        },
        methods: {
            /*获取用户菜单*/
            searchTSApplicationList(){
                const self = this;
                common.ajax({
                    url:"/TSMenuController/searchMyTSMenuList",
                    success:function(result){
                        self.applicationList = result.object;
                        self.$set(self.applicationActiveCollapseIds,0,self.applicationList[0].id);
                    }
                });
            },
            applicationContainerArrayView(twoLevelMenu,oneLevelIndex) {
                let id = twoLevelMenu.id;
                let menuName = twoLevelMenu.menuName;
                let position = twoLevelMenu.position;
                if(position !== "01"){
                    this.$set(this.applicationContainerArrayShowIds,oneLevelIndex,id);
                }
            },
            addTab(application) {
                let id = application.id;
                let menuName = application.menuName;
                let menuUrl = application.menuUrl;
                this.applicationActiveTabId = id;
                this.applicationTabs.forEach(function(obj,key,arr){
                    if(obj.id === id){
                        throw 'error';
                    }
                });
                this.applicationTabs.push({
                    id: id,
                    title: menuName
                });
                this.applicationIFrames.push({
                    id: id,
                    url: menuUrl
                });

            },
            applicationTitleClick(oneLevelMenu){

                let pId = oneLevelMenu.parentMenuId;
                let menuName = oneLevelMenu.menuName;
                this.breadcrumbs.push({
                    pId: pId,
                    title: menuName
                });
                /*let crumbIndex = null;
                this.breadcrumbs.forEach((obj, index) => {
                    if(obj.pId === pId){
                        obj.title = menuName;
                        crumbIndex = index;
                    }
                });
                if(crumbIndex!==null){

                }*/


//                let id = oneLevelMenu.id;
//                let pId = oneLevelMenu.parentMenuId;
//                let flag = false;
//                this.applicationActiveCollapseIds.forEach(function(obj,key,arr){
//                    if(obj === id){
//                        flag = true;
//                    }
//                });
//                if(flag){
//                    this.breadcrumbsPush(oneLevelMenu);
//                }else{
//                    let newBreadcrumbs = [];
//                    this.breadcrumbs.forEach((obj, index) => {
//                        if(obj.pId !== pId){
//                            newBreadcrumbs.push({
//                                pId: obj.pId,
//                                title: obj.title
//                            });
//                        }
//                    });
//                    this.breadcrumbs = newBreadcrumbs;
//                }
            },
            breadcrumbsRemove(){
                this.breadcrumbs.$remove('222');
            },
            breadcrumbsPush(application){

            },


//=========================================================================

            clickTab(){

            },

            handleChange(val) {

            },

            removeTab(targetName) {
                let tabs = this.applicationTabs;
                let activeName = this.showIFrameId;
                if (activeName === targetName) {
                    tabs.forEach((tab, index) => {
                        if (tab.name === targetName) {
                            let nextTab = tabs[index + 1] || tabs[index - 1];
                            if (nextTab) {
                                activeName = nextTab.name;
                            }
                        }
                    });
                }

                this.showIFrameId = activeName;
                this.applicationTabs = tabs.filter(tab => tab.name !== targetName);
            }
        }
    });
</script>
</body>
</html>