<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>helloword</title>
    <link rel="shortcut icon" type="image/x-icon" href="https://appleid.cdn-apple.com/static/bin/cb3606853004/images/favicon.ico">
    <link rel="stylesheet" href="/common/open-source/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/common/open-source/font-awesome/css/font-awesome.min.css">
    <script src="/common/open-source/jquery/jquery.min.js"></script>
    <style>
        .iframeClass{
            width: 100%;
        }

    </style>
</head>



<body>
<header>
    <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-md-7 py-4">
                    <h4 class="text-white">About</h4>
                    <p class="text-muted">Add some information about the album below, the author, or any other background context. Make it a few sentences long so folks can pick up some informative tidbits. Then, link them off to some social networking sites or contact information.</p>
                </div>
                <div class="col-sm-4 offset-md-1 py-4">
                    <h4 class="text-white">Contact</h4>
                    <ul class="list-unstyled">
                        <li><a href="#" class="text-white">Follow on Twitter</a></li>
                        <li><a href="#" class="text-white">Like on Facebook</a></li>
                        <li><a href="#" class="text-white">Email me</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="navbar navbar-dark bg-dark shadow-sm" style="padding: 0;">
        <div class="container d-flex justify-content-between">
            <a href="#" class="navbar-brand d-flex align-items-center">
                <!--<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true" class="mr-2" viewBox="0 0 24 24" focusable="false"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path><circle cx="12" cy="13" r="4"></circle></svg>-->
                <img src="/test/canvas.png" alt="" class="rounded-circle" style="width: 35px;height: 35px;margin-right: 5px;">
                <strong>RanGooooo</strong>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
</header>

<main role="main">

    <section class="jumbotron text-center">
        <div class="container">
            <h1>东土大唐</h1>
            <p class="lead text-muted">让生活简单，简单，再简单</p>
            <p>
                <a href="#" class="btn btn-primary my-2">登　录</a>
                <a href="#" class="btn btn-secondary my-2">注　册</a>
            </p>
        </div>
    </section>

    <div class="album py-5 bg-light">
        <div class="container">

            <div class="row">

                <div class="col col-lg-4">
                    <div class="card" style="width: 18rem;margin: auto;">
                        <!--<img src="/test/lunbo/index1.png" class="card-img-top" alt="">-->
                        <div style="text-align: right;margin-right: 15px;margin-top: 15px;color: #6c757d;">
                            <i class="fa fa-users" style="font-size: 100px;"></i>
                        </div>

                        <div class="card-body">
                            <h5 class="card-title">人员管理</h5>
                            <p class="lead text-muted">整个系统的人员配置</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                待办信息
                                <button type="button" class="btn btn-outline-primary btn-sm" style="padding: 0;padding-left: 6px;padding-right: 6px;position: absolute;right: 20px;">8</button>
                            </li>
                            <li class="list-group-item">
                                设置权限
                                <i class="fa fa-cog" style="float: right;margin-top:5px;margin-right: 3px;"></i>
                            </li>
                            <li class="list-group-item">
                                进入
                                <i onclick="openFrame()" class="fa fa-chevron-right" style="float: right;margin-top:5px;margin-right: 3px;"></i>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>

</main>

<footer class="text-muted">
    <div class="container">
        <p class="float-right">
            <a href="#">Back to top</a>
        </p>
        <p>Album example is © Bootstrap, but please download and customize it for yourself!</p>
        <p>New to Bootstrap? <a href="https://v4.bootcss.com/">Visit the homepage</a> or read our <a href="/docs/getting-started/introduction/">getting started guide</a>.</p>
    </div>
</footer>
</body>


<script>


    $(function () {
        $(window).resize(function () {          //当浏览器大小变化时改变面板大小
            initHeight();
        });
    });

    function initHeight(){
        var clientHeight = document.documentElement.clientHeight;
        $(".iframeClass").height(clientHeight -45);
    }

    function openFrame() {
        var iFrameId = "";
        var src = "http://localhost:8082/MainController/main";
        var html = '<iframe id="'+iFrameId+'" class="iframeClass" src="'+src+'"></iframe>';
        $("body").append(html);
        initHeight();
    }

</script>

</html>