<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>菜单新增</title>
    <common-resource th:replace="common/common-resource :: common-resource"></common-resource>
    <style>
        html{
            overflow-x: hidden;
        }
    </style>
</head>
<body>
<div id="app">

    <el-row>
        <el-col :span="8">
            <el-table @row-click="columnList" :data="tableData" :height="tableHeight">
                <el-table-column prop="tableName" label="表名"></el-table-column>
            </el-table>
        </el-col>
        <el-col :span="8">
            <el-table :data="columnData" :height="tableHeight">
                <el-table-column prop="columnName" label="字段名"></el-table-column>
                <el-table-column prop="dataType" label="类型"></el-table-column>
            </el-table>
        </el-col>
        <el-col :span="8">
            <div style="margin: 50px;">
                <el-form :label-position="labelPosition" :model="TSCodeForm" :rules="rules" ref="TSCodeForm" label-width="100px">
                    <el-form-item label="表名称" prop="table">
                        <el-input :size="size_input" v-model="TSCodeForm.table" clearable></el-input>
                    </el-form-item>
                    <el-form-item label="模块名称" prop="model">
                        <el-input :size="size_input" v-model="TSCodeForm.model" clearable></el-input>
                    </el-form-item>
                    <el-form-item label="实体类名称" prop="entity">
                        <el-input :size="size_input" v-model="TSCodeForm.entity" clearable></el-input>
                    </el-form-item>
                    <el-form-item label="包路径" prop="packagePath">
                        <el-input :size="size_input" v-model="TSCodeForm.packagePath" placeholder="com.gxcx." clearable></el-input>
                    </el-form-item>
                    <el-form-item>
                        <el-button :size="size_button" @click="codeSave()" type="primary">查询</el-button>
                    </el-form-item>
                </el-form>
            </div>
        </el-col>
    </el-row>
</div>
<script>
    window.app = new Vue({
        el: "#app",
        data: {
            size_button: top.window.windowVue.size_button,
            size_input: top.window.windowVue.size_input,
            labelPosition: "left",
            tableHeight: window.innerHeight,
            TSCodeForm: {
                table:"",
                model:"",
                entity:"",
                packagePath:""
            },
            rules: {
                table: [
                    { required: true, message: '请输入', trigger: 'blur' }
                ],
                model: [
                    { required: true, message: '请输入', trigger: 'blur' }
                ],
                entity: [
                    { required: true, message: '请输入', trigger: 'blur' }
                ],
                packagePath: [
                    { required: true, message: '请输入', trigger: 'blur' }
                ]
            },
            tableData:[],
            columnData:[],
        },
        mounted() {
            this.tableList();
        },
        methods: {
            tableList(){
                let self = this;
                common.ajax({
                    url:"/THCodeController/searchTableList",
                    success:function(result){
                        self.tableData = result.object;
                    }
                });
            },
            columnList(row) {
                let tableName = row.tableName;
                this.TSCodeForm.table = tableName;
                let tableNameArr = tableName.split("_");
                let entity = "";
                $(tableNameArr).each(function (index,obj) {
                    if(obj.length > 1){
                        entity += obj.substring(0, 1).toUpperCase() + obj.substring(1);
                    }else{
                        entity += obj.toUpperCase();
                    }
                });
                this.TSCodeForm.entity = entity;
                this.TSCodeForm.model = tableNameArr[tableNameArr.length - 1];
                let self = this;
                common.ajax({
                    url:"/THCodeController/searchColumnList",
                    data : {
                        "tableName":tableName
                    },
                    success:function(result){
                        self.columnData = result.object;
                    }
                });
            },
            codeSave(){
                let self = this;
                this.$refs['TSCodeForm'].validate((valid) => {
                    if(!valid) {
                        throw 'error';
                    }
                    common.ajax({
                        url:"/THCodeController/codeSave",
                        data:self.TSCodeForm,
                        success:function(result){
                            common.showMessageS(result);
                        }
                    });
                });
            },
        }
    });
</script>
</body>
</html>