<!DOCTYPE html>
<html lang="en">
<head>
    <title>应用管理</title>
    <common-resource th:replace="common/common-resource :: common-resource"></common-resource>
    <common-resource-list th:replace="common/common-resource-list :: common-resource-list"></common-resource-list>
    <style>
        .popper-class{
            top:15px!important;
            bottom: 15px;
            right: 15px;
            overflow-y: auto;
            position: fixed !important;
        }
    </style>
</head>
<body>
<div id="app">
    <common-drawer th:replace="common/common-drawer :: common-drawer"></common-drawer>
    <el-collapse-transition>
        <div v-show="showHeader">
            <el-form :inline="true" :model="dataTableForm" ref="dataTableForm" class="demo-form-inline" :size="size_input">
                <el-form-item label="应用名称" prop="menuName">
                    <el-input v-model="dataTableForm.menuName"></el-input>
                </el-form-item>
                <el-form-item label="应用状态" prop="runningState">
                    <el-select v-model="dataTableForm.runningState" clearable>
                        <el-option label="正常使用" value="01"></el-option>
                        <el-option label="禁止使用" value="00"></el-option>
                    </el-select>
                </el-form-item>
                <el-form-item>
                    <el-button :size="size_button" @click="dataTableSearch()" type="primary">查询</el-button>
                    <el-button :size="size_button" @click="dataTableReset()">重置</el-button>
                </el-form-item>
            </el-form>
        </div>
    </el-collapse-transition>
    <el-table
            ref="refTable"
            :data="dataTableList"
            row-key="id"
            border
            @expand-change="exChange"
            :tree-props="{children: 'children'}">
        <el-table-column
                prop="menuName"
                label="应用名称"
                width="200">
        </el-table-column>
        <el-table-column
                prop="menuUrl"
                label="应用地址"
                width="500">
            <template slot-scope="scope">
                <el-popover
                        placement="right"
                        trigger="click"
                        popper-class="popper-class">
                    <el-table :data="gridData">
                        <el-table-column width="150" property="date" label="日期"></el-table-column>
                        <el-table-column width="100" property="name" label="姓名"></el-table-column>
                        <el-table-column width="300" property="address" label="地址"></el-table-column>
                    </el-table>
                    <el-button :size="size_button" type="info" slot="reference">接口</el-button>
                </el-popover>
                {{scope.row.menuUrl}}
            </template>
        </el-table-column>
        <el-table-column
                prop="menuIcon"
                label="应用图标"
                width="80"
                align="center">
            <template slot-scope="scope">
                <span v-html = 'scope.row.menuIcon'></span>
            </template>
        </el-table-column>
        <el-table-column label="禁止使用/正常使用" width="180" prop="runningState" align="center">
            <template slot-scope="scope">
                <el-switch
                        v-model="scope.row.runningState"
                        active-color="#00CC66"
                        inactive-color="#888888"
                        active-value="01"
                        inactive-value="00">
                </el-switch>
            </template>
        </el-table-column>
        <el-table-column label="操作">
            <template slot="header">
                <el-button :size="size_button" @click="showHeader = !showHeader">高级筛选</el-button>
                <el-button :size="size_button" @click="forwordTSMenuNameSave('')">新增菜单</el-button>
            </template>
            <template slot-scope="scope">
                <el-button :size="size_button" @click="forwordTSMenuNameSave(scope.row.id)" type="primary">编辑</el-button>
                <el-button :size="size_button" @click="menuDelete(scope.row)" type="danger">删除</el-button>
            </template>
        </el-table-column>
    </el-table>
</div>
<script>
    new Vue({
        el: "#app",
        data: {
            gridData: [{
                date: '2016-05-02',
                name: '王小虎',
                address: '上海市普陀区金沙江路 1518 弄'
            }, {
                date: '2016-05-04',
                name: '王小虎',
                address: '上海市普陀区金沙江路 1518 弄'
            }, {
                date: '2016-05-01',
                name: '王小虎',
                address: '上海市普陀区金沙江路 1518 弄'
            }, {
                date: '2016-05-03',
                name: '王小虎',
                address: '上海市普陀区金沙江路 1518 弄'
            }],
            size_button: top.window.windowVue.size_button,
            size_input: top.window.windowVue.size_input,
            dataTableList: [],
            dataTableForm: {
                parentMenuNameId:"",
                menuName:"",
                runningState:""
            },
            showHeader: true,
            commonDrawer: {
                frameId:common.uuid(),
                frameUrl: "",
                title: "",
                open: false,
                direction: "ttb",
                withHeader:false,
                size:"100%",
                buttonList: [
                    {
                        name: "返回",
                        click: "goBack",
                    },
                    {
                        name: "保存",
                        click: "menuSave",
                        type: "primary"
                    }
                ]
            },
        },
        mounted() {
            this.dataTableList = this.searchTSMenuNameList();
            console.log(this.dataTableList);
        },
        methods: {
            searchTSMenuNameList(){
                let self = this;
                let menuList = [];
                common.ajax({
                    url:"/TSMenuNameController/searchTSMenuNameList",
                    async:false,
                    data : JSON.stringify(self.dataTableForm),
                    success:function(result){
                        menuList = result.object;
                    }
                });
                menuList.forEach((obj, index) => {
                    obj.position = JSON.parse(obj.position);
                    if(obj.position){
                        obj.children = [{id: common.uuid()}];
                    }else{
                        obj.children = [];
                    }
                });
                return menuList;
            },
            toggleRowExpansion(list){
                list.forEach(row => {
                    row.children=[];
                    this.$refs.refTable.toggleRowExpansion(row,false);
                });
            },
            dataTableSearch(){
                this.toggleRowExpansion(this.dataTableList);
                this.dataTableForm.parentMenuNameId = "";
                this.dataTableList = this.searchTSMenuNameList();
            },
            dataTableReset() {
                this.toggleRowExpansion(this.dataTableList);
                this.dataTableForm.parentMenuNameId = "";
                this.dataTableForm.menuName = "";
                this.dataTableForm.runningState = "";
                this.dataTableList = this.searchTSMenuNameList();
            },
            exChange(row, ex) {
                debugger;
                if(ex&&!row.open){
                    row.open = true;
                    this.dataTableForm.parentMenuNameId = row.id;
                    let resolveList = this.searchTSMenuNameList();
                    resolveList.forEach((obj, index) => {
                        this.dataTableList = this.dataTableList.filter(dataTable => dataTable.id !== obj.id);
                        this.$refs.refTable.toggleRowExpansion(obj,false);
                    });
                    row.children = resolveList;
                }
            },
            forwordTSMenuNameSave(id) {
                if(id){
                    this.commonDrawer.title = "编辑应用";
                }else{
                    this.commonDrawer.title = "新增应用";
                }
                this.commonDrawer.frameUrl = "/TSMenuNameController/forwordTSMenuNameSave?id=" + id;
                this.commonDrawer.open = true;
            },
            clickCall(click) {
                this[click]();
            },
            goBack() {
                this.commonDrawer.frameUrl = "";
                this.commonDrawer.open = false;
            },
            menuSave() {
                let newNode = common.frame(this.commonDrawer.frameId).app.menuSave();
                if(newNode===null){
                    return;
                }
                let id = newNode.id;
                let oldNode = this.getNode(id,this.dataTableList);
                if(common.notNull(oldNode)){
                    newNode.children = oldNode.children;
                    let oldNodePid = oldNode.parentMenuNameId;
                    if(oldNodePid === common.constant.TOPID){
                        this.dataTableList = this.dataTableList.filter(obj => obj.id !== id);
                    }else{
                        let parentNode = this.getParentNode(oldNodePid,this.dataTableList);
                        parentNode.children = parentNode.children.filter(obj => obj.id !== id);
                    }
                }
                debugger;
                let newNodePid = newNode.parentMenuNameId;
                if(newNodePid === common.constant.TOPID){
                   this.menuPush(this.dataTableList,newNode);
                }else{
                    let parentNode = this.getParentNode(newNodePid,this.dataTableList);
                    if(common.notNull(parentNode)){
                        parentNode.position = true;
                        if(!common.notNull(parentNode.children)){
                            parentNode.children = [];
                        }
                        this.menuPush(parentNode.children,newNode);
                    }
                }
                console.log(this.dataTableList);
                this.goBack();
            },
            menuPush(list,object){
                let target = list.filter(row => row.id === object.id);
                if(target[0]){
                    target[0].id = object.id;
                    target[0].menuName = object.menuName;
                    target[0].menuUrl = object.menuUrl;
                    target[0].menuLevel = object.menuLevel;
                    target[0].menuOrder = object.menuOrder;
                    target[0].menuIcon = object.menuIcon;
                    target[0].parentMenuNameId = object.parentMenuNameId;
                    target[0].parentMenuNameName = object.parentMenuNameName;
                    target[0].position = JSON.parse(object.position);
                }else{
                    list.push(object);
                }
            },
            getNode(id,list){
                let result = null;
                try{
                    if(list!==undefined){
                        list.forEach((row, index) => {
                            if(result !== null){
                                throw new Error("ending");
                            }
                            if(row.id === id){
                                result = row;
                                throw new Error("ending");
                            }else{
                                result = this.getParentNode(id,row.children)
                            }
                        });
                    }
                }catch(e) {
                }
                return result;
            },
            getParentNode(parentMenuNameId,list){
                let result = null;
                try{
                    if(list!==undefined){
                        list.forEach((row, index) => {
                            if(result !== null){
                                throw new Error("ending");
                            }
                            if(row.id === parentMenuNameId){
                                result = row;
                                throw new Error("ending");
                            }else{
                                result = this.getParentNode(parentMenuNameId,row.children)
                            }
                        });
                    }
                }catch(e) {
                }
                return result;
            },
            menuDelete(row){
                common.confirm({
                    message: "此操作将永久删除该数据, 是否继续？",
                    type: common.messageType.ERROR
                }).then(() => {
                    let self = this;
                    let id = row.id;
                    let parentMenuNameId = row.parentMenuNameId;
                    common.ajax({
                        url:"/TSMenuNameController/menuDelete?id=" + id,
                        success:function(result){
                            common.showMessageS(result);
                            if(result.type === common.messageType.SUCCESS){
                                if(parentMenuNameId === common.constant.TOPID){
                                    self.dataTableList = self.dataTableList.filter(obj => obj.id !== id);
                                }else{
                                    let parentNode = self.getParentNode(parentMenuNameId,self.dataTableList);
                                    parentNode.children = parentNode.children.filter(obj => obj.id !== id);
                                }
                            }
                        }
                    });
                }).catch(() => {

                });
            }
        }
    });
</script>
</body>
</html>