<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>控制台</title>
    <common-resource th:replace="common/common-resource :: common-resource"></common-resource>
    <link rel="stylesheet" href="/static/sys/console/console.css">
    <script src="/static/common/window/windowVue.js"></script>
</head>
<body style="background: url(/system/login/login.svg),#3360ff;min-height: 100vh">
<div id="windowVueApp">

</div>
<div id="consoleVue">
    <div class="console-header">
        <div class="console-header-navbar">
            <div class="console-header-navbar-crumbs">
                <el-breadcrumb separator="/">
                    <el-breadcrumb-item v-for="breadcrumb in breadcrumbs">{{breadcrumb.title}}</el-breadcrumb-item>
                </el-breadcrumb>
            </div>
            <div class="console-header-navbar-menu">
                <el-card shadow="hover" class="console-header-navbar-menu-item menu-card-blue">
                    <i class="fa fa-cog menu-title-icon"></i>
                </el-card>
                <!--<div class="common-container  menu-card-orange">
                    &lt;!&ndash;<i class="fa fa-cog menu-title-icon"></i>&ndash;&gt;
                </div>-->
                <div class="console-header-navbar-menu-img">
                    <el-avatar shape="square" :size="50" :src="squareUrl"></el-avatar>
                </div>
            </div>
        </div>
        <el-tabs v-model="menuActiveTabId" closable @tab-remove="removeTab" @tab-click="clickTab">
            <el-tab-pane v-for="(item, index) in menuTabs" :name="item.id">
                    <span slot="label">
                        <el-popover width="160" v-model="item.visible" popper-class="console-tab-popover">
                            <div class="common-container">
                                <el-button style="margin-right: 0px;" type="primary" size="mini" @click="reloadIFrame(item)">刷新</el-button>
                            </div>
                            <i v-html="item.icon" slot="reference"></i>
                        </el-popover>
                        {{item.title}}
                    </span>
            </el-tab-pane>
        </el-tabs>
    </div>
    <div class="console-main">
        <el-collapse style="padding: 0 20px;background: #fff;" v-model="menuActiveCollapseIds" v-show="menuActiveTabId===consoleId" @change="handleChange">
            <el-collapse-item v-for="(oneLevelMenu,oneLevelIndex) in menuList"
                              v-if="menuTopId===oneLevelMenu.parentMenuId"
                              v-bind:name="oneLevelMenu.id"
            ><!--一级菜单-->
                <template slot="title">
                    <div class="menu-title-div" @click="menuTitleClick(oneLevelMenu.menuName)">
                        <i class="menu-title-icon" v-html='oneLevelMenu.menuIcon'></i>
                        <h3 class="menu-title-text">{{oneLevelMenu.menuName}}</h3>
                    </div>
                </template>
                <template v-for="twoLevelMenu in menuList" v-if="oneLevelMenu.id===twoLevelMenu.parentMenuId"><!--二级菜单-->
                    <div class="menu-container">
                        <el-card shadow="hover" class="menu-card menu-card-blue"
                                 @click.native="menuContainerArrayView(twoLevelMenu,oneLevelIndex,oneLevelMenu.menuName + ',' + twoLevelMenu.menuName)">
                            <i v-html='twoLevelMenu.menuIcon'></i>
                        </el-card>
                        <span>{{twoLevelMenu.menuName}}</span>
                    </div>
                </template>
                <transition name="el-fade-in-linear">
                    <template v-for="twoLevelMenu in menuList" v-if="oneLevelMenu.id===twoLevelMenu.parentMenuId"><!--三级菜单-->
                        <div class="common-container menu-container-array" v-if="menuContainerArrayShowIds[oneLevelIndex]===twoLevelMenu.id">
                            <div class="menu-container small" v-for="threeLevelMenu in menuList" v-if="twoLevelMenu.id===threeLevelMenu.parentMenuId">
                                <el-card shadow="hover" class="menu-card small menu-card-green"
                                         @click.native="addTab(threeLevelMenu,oneLevelMenu.menuName + ',' + twoLevelMenu.menuName + ',' + threeLevelMenu.menuName)">
                                    <i v-html='threeLevelMenu.menuIcon'></i>
                                </el-card>
                                <span>{{threeLevelMenu.menuName}}</span>
                            </div>
                        </div>
                    </template>
                </transition>
            </el-collapse-item>
        </el-collapse>
        <div style="padding: 0 20px;background: #fff;height: 100%;" v-for="iFrame in menuIFrames" v-show="menuActiveTabId===iFrame.id">
            <iframe :id="gernerateId(iFrame.id)"  :src="iFrame.url" class="console-main-iframe"></iframe>
        </div>
    </div>
</div>
<script>
    window.consoleVue = new Vue({
        el: "#consoleVue",
        data: {
            consoleId: "console",
            consoleName: "桌面",
            consoleIcon: "<i class=\"el-icon-money\"></i>",
            squareUrl: "/test/canvas.png",/*头像*/
            menuTopId: "TOP",/*菜单顶级id*/
            menuContainerArrayShowIds: [],/*三级菜单显示状态*/
            menuList: [],/*应用集合*/
            menuActiveCollapseIds: [],/*折叠面板展开id集合*/
            menuActiveTabId: "",/*当前显示页面id*/
            menuTabs: [],/*tab集合*/
            menuIFrames:[],/*tab集合对应的IFrames集合*/
            breadcrumbs:[],/*面包屑*/
        },
        mounted () {
            this.menuActiveTabId = this.consoleId;
            this.pushMenuTab({
                id:this.consoleId,
                menuName:this.consoleName,
                menuIcon:this.consoleIcon
            },this.consoleName);
            this.breadcrumbsPush(this.consoleName);
            this.searchMyMenuMainList();
        },
        methods: {
            gernerateId: function (id){
                return "frame_" + id;
            },
            /*重置iframe*/
            reloadIFrame(item){
                if(item.id === this.consoleId){

                }else{
                    item.visible = false;
                    common.frameReload(this.gernerateId(item.id));
                }
            },
            pushMenuTab(menu,dataBreadcrumbs){
                let id = menu.id;
                let title = menu.menuName;
                let icon = menu.menuIcon;
                this.menuTabs.push({
                    id: id,
                    title: title,
                    icon: icon,
                    dataBreadcrumbs: dataBreadcrumbs,
                    visible: false,
                });
            },
            /*获取用户菜单*/
            searchMyMenuMainList(){
                const self = this;
                common.ajax({
                    url:"/sysMenuMainController/searchMyMenuMainList",
                    success:function(result){
                        self.menuList = result.data;
                        self.$set(self.menuActiveCollapseIds,0,self.menuList[0].id);
                    }
                });
            },
            menuContainerArrayView(twoLevelMenu,oneLevelIndex,dataBreadcrumbs) {
                this.breadcrumbsPush(dataBreadcrumbs);
                let id = twoLevelMenu.id;
                this.$set(this.menuContainerArrayShowIds,oneLevelIndex,id);
            },
            addTab(menu,dataBreadcrumbs) {
                this.breadcrumbsPush(dataBreadcrumbs);
                let id = menu.id;
                let menuUrl = menu.menuUrl;
                this.menuActiveTabId = id;
                this.menuTabs.forEach(function(obj){
                    if(obj.id === id){
                        throw 'error';
                    }
                });
                this.pushMenuTab(menu,dataBreadcrumbs);
                this.menuIFrames.push({
                    id: id,
                    url: menuUrl
                });
            },

            clickTab(targetTab, event){
                this.breadcrumbsPush(this.menuTabs.filter(tab => tab.id === targetTab.name)[0].dataBreadcrumbs);
            },
            menuTitleClick(dataBreadcrumbs){
                this.breadcrumbsPush(dataBreadcrumbs);
            },

            breadcrumbsPush(dataBreadcrumbs){
                if(dataBreadcrumbs=== this.consoleName){
                    this.breadcrumbs = [];
                }else{
                    this.breadcrumbs = [{
                        title: this.consoleName
                    }];
                }
                let dataBreadcrumbArr = dataBreadcrumbs.split(",");
                dataBreadcrumbArr.forEach((obj, index) => {
                    this.breadcrumbs.push({
                        title: obj
                    });
                });
            },
            removeTab(targetId) {
                let tabs = this.menuTabs;
                let activeId = this.menuActiveTabId;
                let dataBreadcrumbs = "";
                if (activeId === targetId) {
                    tabs.forEach((tab, index) => {
                        if (tab.id === targetId) {
                            let nextTab = tabs[index + 1] || tabs[index - 1];
                            if (nextTab) {
                                activeId = nextTab.id;
                                dataBreadcrumbs = nextTab.dataBreadcrumbs;
                            }
                        }
                    });
                }
                this.breadcrumbsPush(dataBreadcrumbs);
                this.menuActiveTabId = activeId;
                this.menuTabs = tabs.filter(tab => tab.id !== targetId);
                let iframes = this.menuIFrames;
                this.menuIFrames = iframes.filter(iframe => iframe.id !== targetId);
            },
//=========================================================================
            handleChange(val) {
            },
        }
    });
</script>
</body>
</html>