<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>INDEX</title>
    <link rel="stylesheet" href="/common/open-source/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/common/open-source/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/common/common.css">
    <link rel="stylesheet" href="/system/index/index.css">
    <script src="/common/open-source/jquery/jquery.min.js"></script>
    <script src="/common/open-source/jquery/jquery.nicescroll.min.js"></script>
    <script src="/system/index/index.js"></script>
</head>
<body>

<div class="index-container">
    <div class="index-right">

        <div id="tabNodeScroll" class="tab-node-scroll">
            <div id="tabNodeScrollContainer" class="tab-node-scroll-container">

            </div>
        </div>
        <div id="nodeiFrame">


        </div>


    </div>
    <div class="index-left">
        <div id="menuContainerBody"  class="menu-container-body">
            <ul>
                <li>
                    <a href="javascript:void(0);" menu-name="系统管理">
                        <span><i class="fa fa-cog"></i></span>
                        <cite>系统管理</cite>
                        <i class="fa fa-chevron-down"></i>
                    </a>
                    <ul>
                        <li>
                            <a href="javascript:void(0);" class="second" menu-name="开发管理" menu-url="/TSMenuController/forwordMenuList">
                                <span><i class="fa fa-codepen"></i></span>
                                <cite>开发管理</cite>
                                <i class="fa fa-chevron-down"></i>
                            </a>
                            <ul>
                                <li>
                                    <a href="javascript:void(0);" class="third"  menu-name="代码生成" menu-url="/TSMenuController/forwordMenuList">
                                        <span><i class="fa fa-code"></i></span>
                                        <cite>代码生成</cite>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" class="third" menu-name="接口文档" menu-url="/TSMenuController/forwordMenuList">
                                        <span><i class="fa fa-link"></i></span>
                                        <cite>接口文档</cite>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" class="third" menu-name="参数配置" menu-url="/TSMenuController/forwordMenuList">
                                        <span><i class="fa fa-sliders"></i></span>
                                        <cite>参数配置</cite>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" class="third" menu-name="数据库管理" menu-url="/TSMenuController/forwordMenuList">
                                        <span><i class="fa fa-database"></i></span>
                                        <cite>数据库管理</cite>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" class="third" menu-name="数据库管理" menu-url="/TSMenuController/forwordMenuList">
                                        <span><i class="fa fa-file-text"></i></span>
                                        <cite>后台日志</cite>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li menu-name="基础组件管理">
                            <a href="javascript:void(0);" class="second">
                                <span><i class="fa fa-cogs"></i></span>
                                <cite>基础组件管理</cite>
                                <i class="fa fa-chevron-down"></i>
                            </a>
                            <ul>
                                <li>
                                    <a href="javascript:void(0);" class="third" menu-name="菜单管理" menu-url="/TSMenuController/forwordMenuList">
                                        <span><i class="fa fa-th-large"></i></span>
                                        <cite>菜单管理</cite>
                                    </a>
                                </li>
                                <li menu-name="用户管理">
                                    <a href="javascript:void(0);" class="third">
                                        <span><i class="fa fa-user"></i></span>
                                        <cite>用户管理</cite>
                                    </a>
                                </li>
                                <li menu-name="机构管理">
                                    <a href="javascript:void(0);" class="third">
                                        <span><i class="fa fa-sitemap"></i></span>
                                        <cite>机构管理</cite>
                                    </a>
                                </li>
                                <li menu-name="字典管理">
                                    <a href="javascript:void(0);" class="third">
                                        <span><i class="fa fa-book"></i></span>
                                        <cite>字典管理</cite>
                                    </a>
                                </li>
                                <li menu-name="日志管理">
                                    <a href="javascript:void(0);" class="third">
                                        <span><i class="fa fa-file-text-o"></i></span>
                                        <cite>日志管理</cite>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li menu-name="在线办公">
                    <a href="javascript:void(0);">
                        <span><i class="fa fa-briefcase"></i></span>
                        <cite>在线办公</cite>
                        <i class="fa fa-chevron-down"></i>
                    </a>
                    <ul>
                        <li menu-name="工作流程" menu-url="/TSMenuController/forwordMenuList">
                            <a href="javascript:void(0);" class="second">
                                <span><i class="fa fa-retweet"></i></span>
                                <cite>工作流程</cite>
                                <i class="fa fa-chevron-down"></i>
                            </a>
                            <ul>
                                <li menu-name="模板管理" menu-url="/TSMenuController/forwordMenuList">
                                    <a href="javascript:void(0);" class="third">
                                        <span><i class="fa fa-object-group"></i></span>
                                        <cite>模板管理</cite>
                                    </a>
                                </li>
                                <li menu-name="流程管理" menu-url="/TSMenuController/forwordMenuList">
                                    <a href="javascript:void(0);" class="third">
                                        <span><i class="fa fa-arrows"></i></span>
                                        <cite>流程管理</cite>
                                    </a>
                                </li>
                                <li menu-name="流程待办" menu-url="/TSMenuController/forwordMenuList">
                                    <a href="javascript:void(0);" class="third">
                                        <span><i class="fa fa-tasks"></i></span>
                                        <cite>流程待办</cite>
                                    </a>
                                </li>
                                <li menu-name="流程历史" menu-url="/TSMenuController/forwordMenuList">
                                    <a href="javascript:void(0);" class="third">
                                        <span><i class="fa fa-history"></i></span>
                                        <cite>流程历史</cite>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>