<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xin.api.sys.menu.dao.SysMenuMainMapper">

    <select id="searchTSMenuNameList" resultType="com.xin.api.sys.menu.entity.SysMenuMain">
        SELECT * FROM sys_menu_main
        <where>
            <if test="parentMenuNameId!=null and parentMenuNameId!=''">
              AND parent_menu_id = #{parentMenuNameId}
            </if>
            <if test="menuName!=null and menuName!=''">
              AND menu_name  like '%' #{menuName} '%'
            </if>
            <if test="runningState!=null and runningState!=''">
              AND running_state = #{runningState}
            </if>
        </where>
    </select>

</mapper>
