*{
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
    margin:0;
    padding:0;
    /*-webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;*/
}

.common-container{
    background-color: #EEEEEE;
    border-radius: 4px;
}

/*element 通用*/
.el-form {
    width: 380px;
}
.el-popconfirm__main{
    margin-bottom: 12px;
    margin-top: 8px;
}


.common-blue{
    color: #0066FF!important;
}
.common-orange{
    color: #FF9900!important;
}
.common-green{
    color: #009966!important;
}
.common-red{
    color: #FF0033!important;
}