*{
    font-size: 14px;
    font-weight: initial;
    font-style: normal;
}

a{
    text-decoration:none;
}

a:hover{
    text-decoration:none;
}

.run-go-form-row{
    margin-top: 15px;
}

.run-go-form-row input{
    width: 220px;
}

.run-go-form-row .title{
    text-align: right;
    line-height: 25px;
    padding-right: 0;
}