<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>系统日志</title>
    <link rel="stylesheet" href="/static/common/common.css">
    <link rel="stylesheet" href="/static/common/open-source/element-ui/element-ui-min.css">
    <script src="/static/common/open-source/jquery/jquery.min.js"></script>
    <script src="/static/common/open-source/element-ui/vue.js"></script>
    <script src="/static/common/open-source/element-ui/element-ui.js"></script>
    <script src="/static/common/common.js"></script>
    <script src="/static/common/component/RanGoDialog.js"></script>
    <style>
        .demo-table-expand {
            font-size: 0;
        }
        .demo-table-expand label {
            width: 90px;
            color: #99a9bf;
        }
        .demo-table-expand .el-form-item {
            margin-right: 0;
            margin-bottom: 0;
            width: 50%;
        }
        .el-input__suffix{
            top: -2px !important;
        }
    </style>
</head>
<body>

<div id="app">
    <el-row style="padding-bottom: 10px;">
        <el-col :span="24">
            <el-button size="mini" type="info" @click="forwordTSUserSave('')">新增用户</el-button>
        </el-col>
    </el-row>
    <el-form :inline="true" :model="formInline" class="demo-form-inline">
        <el-form-item label="审批人">
            <el-input size="small" v-model="formInline.user" placeholder="审批人"></el-input>
        </el-form-item>
        <el-form-item label="活动区域">
            <el-select size="small" v-model="formInline.region" placeholder="活动区域">
                <el-option label="区域一" value="shanghai"></el-option>
                <el-option label="区域二" value="beijing"></el-option>
            </el-select>
        </el-form-item>
        <el-form-item>
            <el-button size="mini" type="primary" @click="forwordTSUserSave('')">查询</el-button>
        </el-form-item>
    </el-form>
    <el-table :data="tableData" style="width: 100%">
        <el-table-column type="expand">
            <template slot-scope="props">
                <el-form label-position="left" inline class="demo-table-expand">
                    <el-form-item label="手机号码"><span>{{ props.row.mobilePhone }}</span></el-form-item>
                    <el-form-item label="电子邮箱"><span>{{ props.row.email }}</span></el-form-item>
                </el-form>
            </template>
        </el-table-column>
        <el-table-column label="用户名" prop="userName"></el-table-column>
        <el-table-column label="真实姓名" prop="realName"></el-table-column>
        <el-table-column label="禁止使用/正常使用" prop="accountState" align="center">
            <template slot-scope="scope">
                <el-switch
                        v-model="value"
                        active-color="#13ce66"
                        inactive-color="#ff4949"
                        active-value="100"
                        inactive-value="0">
                </el-switch>
            </template>
        </el-table-column>
    </el-table>
</div>
<script>
    new Vue({
        el: "#app",
        data: {
            value: '100',
            tableData: [],
            formInline: {
                user: '',
                region: ''
            }
        },
        mounted () {
            this.searchTSUserList();
        },
        methods: {
            searchTSUserList: function () {
                var self = this;
                common.ajax({
                    url:"/TSUserController/searchTSUserList",
                    async:false,
                    success:function(result){
                        console.log(result.object);
                        if(!result.success){
                            common.showMessageS(result);
                        }else{
                            self.tableData = result.object;
                        }
                    },
                    error:function(e){
                        common.showMessage(common.messageType.ERROR,null);
                    }
                });
            },
            forwordTSUserSave: function (id) {
                RanGoDialog.init({
                    title:'新增用户',
                    src: '/TSUserController/forwordTSUserSave?id=' + id,
                    button: [
                        {
                            name:'确定',
                            click: userSave
                        }
                    ]
                });
            }
        }
    });

    function userSave(window) {
        window.userSave();
    }
</script>
</body>
</html>