<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>list Demo</title>
    <link rel="stylesheet" href="/common/open-source/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/common/open-source/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/common/common.css">
    <link rel="stylesheet" href="/common/component/RanGoTable.css">
    <link rel="stylesheet" href="/common/component/RanGoDialog.css">
    <link rel="stylesheet" href="/common/open-source/loading.css">
    <script src="/common/open-source/jquery/jquery.min.js"></script>
    <script src="/common/common.js"></script>
    <script src="/common/component/RanGoTable.js"></script>
    <script src="/common/component/RanGoDialog.js"></script>
</head>
<body >



<div class="m"></div>



<script>
    $(function(){
        menuList();
    });

    var datas = {
        "settings":{
            "tree":true,
            "radio":true,
            "tool":[
                {
                    "icon":"fa fa-plus",
                    "click":"menuRanGoDialog();"
                }
            ],
            "opt":[
                {
                    "icon":"fa fa-plus",
                    "name":"修改",
                    "click":"menuRanGoDialog();"
                }
            ]
        },
        "column":[
            {
                "fieldName":"id",
                "title":"主键",
                "fixed":"left",
                "width": "300",
                "display":"none"
            },
            {
                "fieldName":"menuName",
                "title":"菜单名称",
                "fixed":"left",
                "width": "150",
                "query":true,
                "tree":true
            },
            {
                "fieldName":"menuUrl",
                "title":"菜单地址",
                "width": "300"
            },
            {
                "fieldName":"menuLevel",
                "title":"菜单等级",
                "width": "300"
            },
            {
                "fieldName":"menuIcon",
                "title":"菜单图标",
                "width": "300"
            },
            {
                "fieldName":"parentMenuId",
                "title":"父级菜单",
                "width": "300"
            },
            {
                "fieldName":"opt",
                "title":"操作",
                "width": "300",
                "fixed":"right"
            }
        ]/*,
        "result": [
            { "firstName":"Bill" , "age":"12", "lastName":"Gates","id":"100861008610086" },
            { "firstName":"George" , "lastName":"Bush","id":"10010" ,"age":"12" },
            { "firstName":"Thomas" , "lastName":"Carter","id":"12315" ,"age":"12" },
            { "firstName":"Bill" , "age":"12", "lastName":"Gates","id":"100861008610086" },
            { "firstName":"George" , "lastName":"Bush","id":"10010" ,"age":"12" },
            { "firstName":"Thomas" , "lastName":"Carter","id":"12315" ,"age":"12" },
            { "firstName":"Bill" , "age":"12", "lastName":"Gates","id":"100861008610086" },
            { "firstName":"George" , "lastName":"Bush","id":"10010" ,"age":"12" },
            { "firstName":"Thomas" , "lastName":"Carter","id":"12315" ,"age":"12" },
            { "firstName":"Bill" , "age":"12", "lastName":"Gates","id":"100861008610086" },
            { "firstName":"George" , "lastName":"Bush","id":"10010" ,"age":"12" },
            { "firstName":"Thomas666" , "lastName":"Carter","id":"12315" ,"age":"12" }
        ]*/
    };



    function menuRanGoDialog(){
        RanGoDialog.init({
            title:'新增菜单',
            src: '/TSMenuController/forwordMenuAdd',
            button: [
                {
                    name:'确定',
                    method: 'add'
                }
            ]
        });
    }

    function add(){
        document.getElementById('menuAdd').contentWindow.add();
    }

    function menuList(){
        $.ajax({
            url:"/TSMenuController/searchMenuList",
            type:"post",
            data : {},
            success:function(jsonData){
                datas.result = jsonData.object
                RanGoTable.init(datas);
            },
            error:function(e){
                Popup("错误！！");
            }
        });
    }

</script>
</body>
</html>