<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>菜单新增</title>
    <link rel="stylesheet" href="/static/common/open-source/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/static/common/common.css">
    <link rel="stylesheet" href="/static/common/component/check/RanGoCheck.css">
    <link rel="stylesheet" href="/static/common/open-source/element-ui/element-ui.css">
    <script src="/static/common/open-source/jquery/jquery.min.js"></script>
    <script src="/static/common/open-source/element-ui/vue.js"></script>
    <script src="/static/common/open-source/element-ui/element-ui.js"></script>
    <script src="/static/common/common.js"></script>
    <script src="/static/common/form_json.js"></script>
    <script src="/static/common/component/RanGoDialog.js"></script>
    <script src="/static/common/component/check/RanGoCheck.js"></script>
</head>
<body>
    <form id="menuForm">
        <div class="container-fluid">
            <div class="row run-go-form-row" style="display:none;">
                <div class="col-3 title">
                    主键
                </div>
                <div class="col-9">
                    <input id="id" name="id" class="form-control form-control-sm" type="text" th:value="${menu?.id}">
                </div>
            </div>
            <div class="row run-go-form-row">
                <div class="col-3 title">
                    <strong class="requiredmarker">*</strong>菜单名称
                </div>
                <div class="col-9">
                    <input id="menuName" name="menuName" class="form-control form-control-sm" type="text" th:value="${menu?.menuName}" mydatatype="*" messageS="">
                </div>
            </div>
            <div class="row run-go-form-row">
                <div class="col-3 title">
                    <strong class="requiredmarker">*</strong>菜单地址
                </div>
                <div class="col-9">
                    <input id="menuUrl" name="menuUrl" class="form-control form-control-sm" type="text" th:value="${menu?.menuUrl}" mydatatype="*" messageS="">
                </div>
            </div>
            <div class="row run-go-form-row">
                <div class="col-3 title">
                    <strong class="requiredmarker">*</strong>菜单等级
                </div>
                <div class="col-9">
                    <input id="menuLevel" name="menuLevel" class="form-control form-control-sm" type="text" th:value="${menu?.menuLevel}" mydatatype="*" messageS="" onkeyup="clearNoNumInt(this);">
                </div>
            </div>
            <div class="row run-go-form-row">
                <div class="col-3 title">
                    <strong class="requiredmarker">*</strong>菜单排序
                </div>
                <div class="col-9">
                    <input id="menuOrder" name="menuOrder" class="form-control form-control-sm" type="text" th:value="${menu?.menuOrder}" mydatatype="*" messageS="" onkeyup="clearNoNumInt(this);">
                </div>
            </div>
            <div class="row run-go-form-row">
                <div class="col-3 title">
                    <strong class="requiredmarker">*</strong>菜单图标
                </div>
                <div class="col-9">
                    <input id="menuIcon" name="menuIcon" class="form-control form-control-sm" type="text" th:value="${menu?.menuIcon}" mydatatype="*" messageS="">
                </div>
            </div>
            <div class="row run-go-form-row">
                <div class="col-3 title">
                    父菜单
                </div>
                <div class="col-9">
                    <input id="parentMenuName" name="parentMenuName" class="form-control form-control-sm" type="text" th:value="${parentMenu?.menuName}" onclick="menuRanGoDialog();">
                    <input id="parentMenuId" name="parentMenuId" class="form-control form-control-sm" type="hidden" th:value="${menu?.parentMenuId}">
                </div>
            </div>
        </div>
    </form>
<script>

    function menuRanGoDialog(){
        RanGoDialog.init({
            title:'选择父级菜单',
            src: '/TSMenuController/forwordTSMenuTree',
            button: [
                {
                    name:'确定',
                    click: getMenuCheckedNodes
                }
            ]
        });
    }

    function getMenuCheckedNodes(window){
        //var window = RanGoDialog.window(openFrameId);
        var nodes = window.getMenuCheckedNodes();
        if(nodes.length > 0){
            $("#parentMenuName").val(nodes[0].name);
            $("#parentMenuId").val(nodes[0].id);
        }else{
            $("#parentMenuName").val('');
            $("#parentMenuId").val('');
        }
        //var nodes = $(top.document.body).find("#" + iframeId).contentWindow.getMenuCheckedNodes();
        //alert(nodes);
    }

    function menuSave() {
        if(!checkData()){
            throw 'error';
        }
        $.ajax({
            url:"/TSMenuController/menuSave",
            type:"post",
            async:false,
            data:formToJsonObject("menuForm"),
            success:function(result){
                if(result.success){
                    common.showMessage(common.messageType.SUCCESS,result.message);
                }else{
                    common.showMessage(common.messageType.WARNING,result.message);
                    throw 'error';
                }

            },
            error:function(e){
                common.showMessage(common.messageType.ERROR,null);
            }
        });
    }
</script>
</body>
</html>