<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>菜单列表</title>
    <link rel="stylesheet" href="/static/common/open-source/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/static/common/open-source/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/common/common.css">
    <link rel="stylesheet" href="/static/common/component/RanGoTable.css">
    <script src="/static/common/open-source/jquery/jquery.min.js"></script>
    <script src="/static/common/common.js"></script>
    <script src="/static/common/component/RanGoTable.js"></script>
    <script src="/static/common/component/RanGoDialog.js"></script>
</head>
<body >
<div id="m"></div>
<script>
    $(function(){
        initMenuList();
    });

    var datas = {
        settings:{
            "id":"m",
            "tree":true,
            "treeExpand":menuTreeExpand,
            "radio":true,
            "tool":[
                {
                    "icon":"fa fa-plus fa-fw",
                    "click":"forwordTSMenuSave('');"
                }
            ],
            "opt":[
                {
                    "icon":"fa fa-pencil",
                    "name":"修改",
                    "click":"forwordTSMenuSave(id);"
                },
                {
                    "icon":"fa fa-trash",
                    "name":"删除",
                    "click":"deleteMenu(id);"
                }
            ]
        },
        "column":[
            {
                "fieldName":"id",
                "title":"主键",
                "fixed":"left",
                "width": "300",
                "display":"none"
            },
            {
                "fieldName":"menuName",
                "title":"菜单名称",
                "fixed":"left",
                "width": "150",
                "query":true,
                "tree":true
            },
            {
                "fieldName":"menuUrl",
                "title":"菜单地址",
                "query":true,
                "width": "300"
            },
            {
                "fieldName":"menuLevel",
                "title":"菜单等级",
                "query":true,
                "width": "300"
            },
            {
                "fieldName":"menuIcon",
                "title":"菜单图标",
                "query":true,
                "width": "300"
            },
            {
                "fieldName":"parentMenuId",
                "title":"父级菜单",
                "width": "300"
            },
            {
                "fieldName":"opt",
                "title":"操作",
                "width": "300",
                "fixed":"right"
            }
        ]
    };



    function forwordTSMenuSave(id){
        RanGoDialog.init({
            title:'新增菜单',
            src: '/TSMenuController/forwordTSMenuSave?id=' + id,
            button: [
                {
                    name:'确定',
                    click: menuSave
                }
            ]
        });
    }

    function deleteMenu(id){
        $.ajax({
            url:"/TSMenuController/deleteMenu",
            type:"post",
            data : {},
            success:function(RestResult){
                var message = RestResult.message;
                common.showMessage(message);
            },
            error:function(e){
                common.showMessage("错误！！");
            }
        });
    }

    function menuSave(window){
        window.menuSave();
        initMenuList();
    }

    function menuTreeExpand(id){
        return menuList(id);
    }

    function initMenuList(){
        RanGoTable.reset(datas);
        datas.result = menuList('TOP');
        RanGoTable.init(datas);
    }

    function menuList(id){
        var result = null;
        $.ajax({
            url:"/TSMenuController/searchTSMenuList",
            type:"post",
            data : {
                "parentMenuId":id
            },
            async:false,
            success:function(jsonData){
                result = jsonData.object;
            },
            error:function(e){
                common.showMessage("错误！！");
            }
        });
        return result;
    }

</script>
</body>
</html>