<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>菜单新增</title>
    <common-resource th:replace="common/common-resource :: common-resource"></common-resource>
    <link rel="stylesheet" href="/static/common/open-source/ztree/zTreeStyle/zTreeStyle.css">
    <script src="/static/common/open-source/ztree/jquery.ztree.all.js"></script>
    <style>
        .demo-form-inline{
            width: 100%;
        }
        .demo-form-inline div{
            margin-bottom: 0!important;
        }
        .popper-class{
            top:5px!important;
            bottom: 15px;
            overflow-y: auto;
            position: fixed !important;
        }
    </style>
</head>
<body>
    <div id="app">
        <input id="TBFund" type="hidden" th:value="${TBFund}">
        <el-form :label-position="labelPosition" :model="TBFundForm" :rules="rules" ref="TBFundForm" label-width="100px">
            <el-form-item label="基金编号" prop="applicationName">
                <el-input :size="size_input" v-model="TBFundForm.fundCode" clearable></el-input>
            </el-form-item>
            <el-form-item label="基金名称" prop="applicationUrl">
                <el-input :size="size_input" v-model="TBFundForm.fundName" clearable></el-input>
            </el-form-item>
        </el-form>
    </div>
<script>
    window.app = new Vue({
        el: "#app",
        data: {
            size_button: top.window.windowVue.size_button,
            size_input: top.window.windowVue.size_input,
            labelPosition: "left",
                TBFundForm: {
                    fundCode:"",
                    fundName:""
            },
            rules: {
                fundCode: [
                    { required: true, message: '请输入基金编码', trigger: 'blur' }
                ],
                fundName: [
                    { required: true, message: '请输入基金名称', trigger: 'blur' }
                ],
            },
            treeForm:{
                applicationName:""
            },
            treeList:[],
            setting: {
                callback: {
                    onClick: onClick,
                    onCheck: onClick
                },
                check: {
                    enable: true
                },
                data: {
                    simpleData: {
                        enable: true
                    }
                }
            }
        },
        mounted() {
            this.init();
        },
        methods: {
            init(){
                if($("#TBFund").val()){
                    this.TBFundForm = JSON.parse($("#TBFund").val());
                }
            },
            applicationSave(){
                let object = null;
                let self = this;
                this.$refs['TBFund'].validate((valid) => {
                    if(!valid) {
                        throw 'error';
                    }
                    common.ajax({
                        url:"/TSApplicationController/applicationSave",
                        async:false,
                        data:self.TSApplicationForm,
                        success:function(result){
                            common.showMessageS(result);
                            object = result.object;
                            if(result.type  !== common.messageType.SUCCESS){
//                                throw 'error';
                            }
                        }
                    });
                });
                return object;
            },
            hide(){
                let nodes = getTSApplicationCheckedNodes();
                if(nodes.length > 0){
                    this.TSApplicationForm.parentApplicationId = nodes[0].id;
                    this.TSApplicationForm.parentApplicationName = nodes[0].name;
                }else{
                    this.TSApplicationForm.parentApplicationId = "";
                    this.TSApplicationForm.parentApplicationName = "";
                }
            },
            search(){
                let list = this.treeList.filter(tree => tree.name.indexOf(this.treeForm.applicationName) !== -1);
                $.fn.zTree.init($("#applicationTree"), this.setting, list);
            },
            empty(){
                getTree().checkAllNodes(false);		//取消全部勾选
            }
        }
    });
    function getTree() {
        return $.fn.zTree.getZTreeObj('applicationTree');
    }
    function onClick(event, treeId, treeNode) {
        app.empty();
        let tree = getTree();
        tree.checkNode(tree.getNodeByParam("id", treeNode.id), true);
    }
    function getTSApplicationCheckedNodes(){
        return getTree().getCheckedNodes(true);
    }
</script>
</body>
</html>