<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>接口管理</title>
    <common-resource th:replace="common/common-resource :: common-resource"></common-resource>
    <link rel="stylesheet" href="/static/control/inter/management-interface.css">
    <link rel="stylesheet" href="/static/common/open-source/jquery/jsonview/jquery.jsonview.css">
    <script src="/static/common/open-source/jquery/jsonview/jquery.jsonview.js"></script>
</head>
<body>
    <div id="app">
        <el-collapse>
            <el-collapse-item v-for="interface in interfaceList">
                <template slot="title"><!--接口Controller-->
                    <span style="color: #555555;font-weight: 600;font-size: 14px;margin-left: 20px;">{{interface.description}}</span>
                    <span style="color: #555555;font-weight: 600;font-size: 14px;margin-left: 10px;">{{interface.mapping}}</span>
                </template>
                <el-table :data="interface.apiList" :show-header="false"><!--接口映射方法-->
                    <el-table-column type="expand">
                        <template slot-scope="api">
                            <div class="common-container" style="padding: 10px;border-radius: 0;">
                                <el-table :data="api.row.parameterList" border>
                                    <el-table-column type="selection" align="center"></el-table-column>
                                    <el-table-column
                                            prop="key"
                                            label="KEY"
                                            min-width="30%">
                                    </el-table-column>
                                    <el-table-column
                                            prop="value"
                                            label="VALUE"
                                            min-width="40%"
                                            class-name="parameter-value-cell">
                                        <template slot-scope="parameter">
                                            <el-input v-model="parameter.row.value" placeholder="请输入内容" clearable></el-input>
                                        </template>
                                    </el-table-column>
                                    <el-table-column
                                            prop="description"
                                            label="DESCRIPTION"
                                            min-width="30%"
                                            class-name="parameter-value-cell">
                                        <template slot-scope="parameter">
                                            <el-input v-model="parameter.row.description" placeholder="请输入内容" clearable></el-input>
                                        </template>
                                    </el-table-column>
                                </el-table>
                                <el-row :gutter="10" style="margin-top: 10px;">
                                    <el-col :span="24">
                                        <el-card shadow="never">
                                            <div slot="header">
                                                <span style="color: #909399;font-weight: 600;font-size: 14px;">Response</span>
                                            </div>
                                            <div :id="api.row.responseId"></div>
                                        </el-card>
                                    </el-col>
                                </el-row>
                            </div>
                        </template>
                    </el-table-column>
                    <el-table-column
                            label="描述"
                            prop="description">
                    </el-table-column>
                    <el-table-column
                            label="映射"
                            prop="mapping">
                    </el-table-column>
                    <el-table-column
                            label="请求类型"
                            prop="method">
                        <template slot-scope="api">
                            <el-button @click="sendRequest(api.row)" size="mini" v-for="requestMethod in api.row.requestMethodList" :type="requestMethod.type">{{requestMethod.name}}</el-button>
                        </template>
                    </el-table-column>
                </el-table>
            </el-collapse-item>
        </el-collapse>
    </div>
    <script>
        new Vue({
            el: "#app",
            data: {
                size_button: top.window.windowVue.size_button,
                size_input: top.window.windowVue.size_input,
                interfaceList: [],/*接口集合*/
            },
            mounted() {
                this.searchTCInterfaceList();
            },
            methods: {
                searchTCInterfaceList(){
                    const self = this;
                    common.ajax({
                        url:"/controllerReflect/getUrlMapping",
                        success:function(result){
                            result.forEach(interface => {
                                interface.apiList.forEach(api => {
                                    api.responseId = common.uuid();
                                });
                            });
                            self.interfaceList = result;

                        }
                    });
                },
                sendRequest(api){
//                    common.ajax({
//                        url:xin.mapping,
//                        success:function(result){
//                            $("#" + xin.responseId).JSONView(result);
//                        }
//                    });
                }
            }
        });
    </script>
</body>
</html>